.job-description {
    color: #304156;
}
.job-description .heading {
    display: flex;
    padding: 30px 180px;
}

.job-description .heading .company-logo {
    max-height: 50px;
    max-width: 50px;
    height: 100%;
    width: 100%;
}

.job-description .heading .title {
    font-size: 22px;
    margin-left: 20px;
    line-height: 23px;
    text-align: left;
}

.job-description .heading .title .designation {
    font-weight: bold;
    margin: 0;
}

.job-description .heading .title .company-name {
    margin: 4px 0 0 0;
}

.job-description .heading .app-open {
    /*display: flex;*/
    display: none;
    color: green;
    margin: auto 0 auto auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.job-description .heading .app-open .check-icon-jd {
    max-height: 20px;
    max-width: 20px;
    height: 100%;
    width: 100%;
    margin-right: 4px;
}

.job-description .heading .app-open p {
    margin-bottom: auto;
}

.job-description .content {
    background-color: #fafbfb;
    padding: 30px 180px;
}

.job-description .content .main .sub-main {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    padding: 40px 50px;
    margin-bottom: 25px;
}

.job-description .content .main .sub-main .sub-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}

.job-description .content .main .details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.job-description .content .main .details .vl {
    border-left: 2px solid #ebeae8;
    height: 40px;
  }

.job-description .content .main .details .detail .type {
    font-size: 16px;
    margin: 0 auto;
}

.job-description .content .main .details .detail .value {
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
}

.job-description .content .main .details .detail .sub-value {
    font-size: 16px;
    margin: 0 auto;
}

.job-description .content .main .details .comp .detail .sub-value {
    color: #9b9b9b;
}

.job-description .content .main .details .exp .detail .sub-value {
    color: #9b9b9b;
}

.job-description .content .main .about-company .sub-title {
    display: flex;
    align-items: center;
}

.job-description .content .main .about-company .stats {
    border: solid 1px #d1d1d1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.job-description .content .main .stats .vl {
    border-left: 2px solid #ebeae8;
    height: 60px;
  }

.job-description .content .main .about-company .stats .rating {
    font-size: 36px;
}

.job-description .content .main .about-company .stats .identifier {
    color: #333333;
    font-size: 16px;
}

.job-description .content .main .about-company .sub-title .tags {
    display: flex;
    margin-left: 25px;
}

.job-description .content .main .about-company .sub-title .tags .tag {
    background-color: #ebeae8;
    border-radius: 15px;
    color: #959595;
    font-size: 12px;
    font-weight: 400;
    margin-right: 10px;
    padding: 2px 8px;
}

.job-description .content .main .sub-main .sub-text {
    font-size: 16px;
    margin-top: 30px;
    text-align: justify;
}

.job-description .section ul {
    padding-left: 1.2em;
}

@media (max-width: 300px) {
    .job-description .heading {
        padding: 20px 30px;
        justify-content: center;
        align-items: center;
    }

    .job-description .heading .company-logo {
        max-height: 30px;
        max-width: 30px;
    }

    .job-description .heading .title {
        font-size: 16px;
        margin-left: 10px;
        text-align: left;
    }

    .job-description .content {
        background-color: #fafbfb;
        padding: 10px 0;
    }

    .job-description .content .main .sub-main {
        padding: 20px 20px;
        margin-bottom: 15px;
    }

    .job-description .content .main .details .detail .type {
        font-size: 11px;
    }

    .job-description .content .main .details .detail .value {
        font-size: 14px;
    }

    .job-description .content .main .details .detail .sub-value {
        font-size: 11px;
    }

    .job-description .content .main .about-company .sub-title .tags {
        margin-left: 10px;
    }

    .job-description .content .main .about-company .sub-title .tags .tag {
        border-radius: 10px;
        font-size: 10px;
        margin-right: 10px;
        padding: 2px 4px;
    }

    .job-description .content .main .sub-main .sub-text {
        font-size: 14px;
        margin-top: 20px;
    }

    .job-description .content .main .sub-main .sub-title {
        font-size: 18px;
    }

    .job-description .content .main .about-company .stats .rating {
        font-size: 28px;
    }
    
    .job-description .content .main .about-company .stats .identifier {
        color: #333333;
        font-size: 14px;
    }
}

@media (min-width: 301px) and (max-width: 600px) {
    .job-description .heading {
        padding: 20px 30px;
        justify-content: center;
        align-items: center;
    }

    .job-description .heading .company-logo {
        max-height: 30px;
        max-width: 30px;
    }

    .job-description .heading .title {
        font-size: 16px;
        margin-left: 10px;
        text-align: left;
    }

    .job-description .content {
        background-color: #fafbfb;
        padding: 10px 0;
    }

    .job-description .content .main .sub-main {
        padding: 20px 20px;
        margin-bottom: 15px;
    }

    .job-description .content .main .details .detail .type {
        font-size: 11px;
    }

    .job-description .content .main .details .detail .value {
        font-size: 14px;
    }

    .job-description .content .main .details .detail .sub-value {
        font-size: 11px;
    }

    .job-description .content .main .about-company .sub-title .tags {
        margin-left: 10px;
    }

    .job-description .content .main .about-company .sub-title .tags .tag {
        border-radius: 10px;
        font-size: 10px;
        margin-right: 10px;
        padding: 2px 8px;
    }

    .job-description .content .main .sub-main .sub-text {
        font-size: 14px;
        margin-top: 20px;
    }

    .job-description .content .main .sub-main .sub-title {
        font-size: 18px;
    }

    .job-description .content .main .about-company .stats .rating {
        font-size: 28px;
    }
    
    .job-description .content .main .about-company .stats .identifier {
        color: #333333;
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .job-description .heading {
        padding: 20px 80px;
        justify-content: center;
        align-items: center;
    }

    .job-description .heading .company-logo {
        max-height: 50px;
        max-width: 50px;
    }
    
    .job-description .content {
        padding: 10px 80px;
    }

    .job-description .content .main .sub-main {
        padding: 20px 20px;
        margin-bottom: 15px;
    }

    .job-description .content .main .details .detail .type {
        font-size: 11px;
    }

    .job-description .content .main .details .detail .value {
        font-size: 14px;
    }

    .job-description .content .main .details .detail .sub-value {
        font-size: 11px;
    }

    .job-description .content .main .about-company .sub-title .tags {
        margin-left: 10px;
    }

    .job-description .content .main .about-company .sub-title .tags .tag {
        border-radius: 10px;
        font-size: 10px;
        margin-right: 10px;
        padding: 2px 8px;
    }

    .job-description .content .main .sub-main .sub-text {
        font-size: 14px;
        margin-top: 20px;
    }

    .job-description .content .main .sub-main .sub-title {
        font-size: 18px;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .job-description .heading {
        padding: 20px 150px;
    }
    
    .job-description .content {
        padding: 20px 150px;
    }
}