.thank-you {
    padding: 100px 0;
}

.thank-you img {
    max-width: 48px;
    max-height: 48px;
    height: 100%;
    width: 100%;
}

.thank-you .title {
    margin: 40px auto;
}

.thank-you button {
    background-color: transparent;
    border: solid 1px #475f7b;
    border-radius: 4px;
    margin-top: 40px;
    padding: 10px 50px;
}

.thank-you button:hover {
    background-color: #fafbfb;
}