.footer {
    padding: 100px 0 40px 0;
  }
  .footer .logo {
    max-height: 60px;
    max-width: 170px;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .footer .contact-details .mail {
    display: inline;
  }

  .footer .contact-details .call {
    display: inline;
  }
  .footer .contact-details .mail {
  margin: 0 25px;
  }
  
  .footer .contact-details .call {
    margin: 0 25px;
  }
  
  .footer .contact-details .mail p {
    display: inline;
    margin: 0 8px;
    color: #475f7b;
    font-size: 14px;
  }
  
  .footer .contact-details .call p {
    display: inline;
    margin: 0 8px;
    color: #475f7b;
    font-size: 14px;
  }
  
  .footer .contact-details .mail img {
    max-height: 18px;
    max-width: 18px;
    height: 100%;
    width: 100%;
  }
  
  .footer .contact-details .call img {
    max-height: 18px;
    max-width: 18px;
    height: 100%;
    width: 100%;
  }
  
  .footer .links * {
    margin: 8px 15px;
  }
  
  .footer .links .copyright {
    font-size: 14px;
    color: #828d99;
  }

  .footer .copyright-bottom {
    display: none;
  }
  
  .footer .linkedin-logo {
    max-width: 15px;
    max-height: 15px;
    height: 100%;
    width: 100%;
  }
  
  .footer .links .internal {
    color: #304156;
    font-size: 14px;
    font-weight: 600;
  }

  @media (max-width: 300px) {
    .footer {
      padding: 70px 0 30px 0;
    }

    .footer .contact-details .mail {
      display: block;
    }
  
    .footer .contact-details .call {
      display: block;
    }

    .footer .copyright-bottom {
      display: block;
      font-size: 14px;
      color: #828d99;
    }
  
    .footer .links .copyright {
      display: none;
    }

    .footer .links * {
      margin: 12px 10px;
    }
  }
  
  @media (min-width: 301px) and (max-width: 600px) {
    .footer {
      padding: 70px 0 30px 0;
    }

    .footer .contact-details .mail {
      display: block;
    }
  
    .footer .contact-details .call {
      display: block;
    }

    .footer .copyright-bottom {
      display: block;
      font-size: 14px;
      color: #828d99;
    }
  
    .footer .links .copyright {
      display: none;
    }

    .footer .links * {
      margin: 12px 10px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .footer {
      padding: 90px 0 40px 0;
    }
  }