  .candidate .usp .card {
    border: none;
    margin: auto;
    text-align: left;
    padding: 0;
    width: 230px;
  }
  
  .candidate .usp .card .img {
    max-height: 48px;
    max-width: 48px;
    height: 100%;
    width: 100%;
    margin-bottom: 24px;
  }
  
  .candidate .usp .card .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .candidate .usp .card .txt {
    color: #828d99;
    font-size: 14px;
  }

  @media (max-width: 300px) {
    .candidate .usp .card {
      width: 200px;
    }

    .candidate .usp .card .img {
      max-height: 36px;
      max-width: 36px;
      height: 100%;
      width: 100%;
    }

    .candidate .usp .card .title {
      font-size: 18px;
    }

    .candidate .usp .card .txt {
      font-size: 12px;
    }
  }
  
  @media (min-width: 301px) and (max-width: 600px) {
    .candidate .usp .card {
      width: 230px;
    }

    .candidate .usp .card .img {
      max-height: 36px;
      max-width: 36px;
      height: 100%;
      width: 100%;
    }

    .candidate .usp .card .title {
      font-size: 18px;
    }

    .candidate .usp .card .txt {
      font-size: 12px;
    }
  }