  /*****
  Spotlight 
  *****/
  .employer .spotlight {
    background-color: #fafbfb;
    padding: 130px 0 80px 0;
    text-align: center;
    width: 100%;
  }

  .employer .spotlight .primary-content {
    margin: auto;
    width: 60%;
  }

  .employer .spotlight .primary-content h1 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -1.18px;
  }

  .employer .spotlight .primary-content h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 35px auto;
    width: 75%;
  }

  .employer .spotlight button {
    background-color: #03c4c6;
    border: none;
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    margin: auto;
    padding: 10px 15px;
  }

  .employer .spotlight .usp {
    padding: 80px 200px 0 200px;
  }

  @media (max-width: 300px) {
    .employer .spotlight {
      padding: 80px 0 50px 0;
    }

    .employer .spotlight .primary-content {
      width: 90%;
    }

    .employer .spotlight .primary-content h1 {
      font-size: 36px;
      letter-spacing: -0.76px;
    }

    .employer .spotlight .primary-content h4 {
      font-size: 14px;
      margin: 30px auto;
      width: 90%;
    }

    .employer .spotlight button {
      background-color: #03c4c6;
      border: none;
      border-radius: 4px;
      color: white;
      display: block;
      font-size: 14px;
      margin: auto;
      padding: 10px 15px;
    }

    .employer .spotlight .usp {
      padding: 40px 0 0 0;
      width: 200px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 301px) and (max-width: 600px) {
    .employer .spotlight {
      padding: 90px 0 60px 0;
    }

    .employer .spotlight .primary-content {
      width: 90%;
    }

    .employer .spotlight .primary-content h1 {
      font-size: 36px;
      letter-spacing: -0.76px;
    }

    .employer .spotlight .primary-content h4 {
      font-size: 14px;
      margin: 30px auto;
      width: 85%;
    }

    .employer .spotlight button {
      background-color: #03c4c6;
      border: none;
      border-radius: 4px;
      color: white;
      display: block;
      font-size: 14px;
      margin: auto;
      padding: 10px 15px;
    }

    .employer .spotlight .usp {
      padding: 40px 50px 0 50px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .employer .spotlight {
      padding: 100px 0 70px 0;
    }

    .employer .spotlight .primary-content {
      width: 70%;
    }

    .employer .spotlight .primary-content h1 {
      font-size: 40px;
      letter-spacing: -1px;
    }

    .employer .spotlight .primary-content h4 {
      font-size: 16px;
      margin: 32px auto;
      width: 80%;
    }

    .employer .spotlight .usp {
      padding: 50px 50px 0 50px;
    }
  }
  
  @media (min-width: 901px) and (max-width: 1200px) {
    .employer .spotlight {
      padding: 115px 0 75px 0;
    }

    .employer .spotlight .primary-content {
      width: 70%;
    }

    .employer .spotlight .primary-content h1 {
      font-size: 50px;
      letter-spacing: -1.18px;
    }

    .employer .spotlight .primary-content h4 {
      font-size: 16px;
      margin: 35px auto;
      width: 80%;
    }

    .employer .spotlight .usp {
      padding: 60px 150px 0 150px;
    }
  }

  /*****
  Testimonials
  *****/
  .employer .testimonials {
    background-color: #fafbfb;
    padding-bottom: 110px;
  }

  .employer .testimonials .title-hr {
    background-color: #bbc7d3;
    border: none;
    margin: 0 auto;
    height: 1px;
    width: 840px;
  }

  .employer .testimonials .title {
    font-size: 32px;
    margin: auto;
    margin-top: 50px;
    width: 610px;
  }

  .employer .testimonials .carousel {
    margin-top: 85px;
  }


  @media (max-width: 300px) {
    .employer .testimonials {
      padding-bottom: 95px;
    }

    .employer .testimonials .title-hr {
      width: 200px;
    }

    .employer .testimonials .title {
      font-size: 20px;
      width: 150px;
      margin-top: 40px;
    }

    .employer .testimonials .carousel {
      margin-top: 50px;
    }
  }
  
  @media (min-width: 301px) and (max-width: 600px) {
    .employer .testimonials {
      padding-bottom: 95px;
    }

    .employer .testimonials .title-hr {
      width: 250px;
    }

    .employer .testimonials .title {
      font-size: 24px;
      width: 250px;
      margin-top: 40px;
    }

    .employer .testimonials .carousel {
      margin-top: 50px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .employer .testimonials {
      padding-bottom: 100px;
    }

    .employer .testimonials .title-hr {
      width: 550px;
    }

    .employer .testimonials .title {
      font-size: 32px;
      width: 500px;
      margin-top: 50px;
    }

    .employer .testimonials .carousel {
      margin-top: 75px;
    }
  }
  /*****
  Companies
  *****/
  .employer .companies {
    padding: 150px 0;
  }

  .employer .companies h1 {
    font-size: 38px;
    font-weight: 500;
    margin: 0 auto 36px auto;
    width: 600px;
  }

  .employer .companies h1 span {
    color: #0376e3;
  }

  .employer .companies h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto 65px auto;
    width: 500px;
  }

  .employer .companies .img-lg {
    max-height: 375px;
    max-width: 1050px;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .employer .companies .img-sm {
    display: none;
  }

  @media (max-width: 300px) {
    .employer .companies {
      padding: 80px 0;
    }

    .employer .companies h1 {
      font-size: 24px;
      font-weight: 500;
      margin: 0 auto 12px auto;
      width: 200px;
    }

    .employer .companies h3 {
      font-size: 16px;
      font-weight: normal;
      margin: 0 auto 30px auto;
      width: 180px;
    }

    .employer .companies .img-lg {
      display: none;
    }

    .employer .companies .img-sm {
      display: block;
      max-height: 375px;
      max-width: 200px;
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 301px) and (max-width: 600px) {
    .employer .companies {
      padding: 100px 0;
    }

    .employer .companies h1 {
      font-size: 24px;
      font-weight: 500;
      margin: 0 auto 12px auto;
      width: 250px;
    }

    .employer .companies h3 {
      font-size: 16px;
      font-weight: normal;
      margin: 0 auto 30px auto;
      width: 200px;
    }

    .employer .companies .img-lg {
      display: none;
    }

    .employer .companies .img-sm {
      display: block;
      max-height: 500px;
      max-width: 275px;
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .employer .companies {
      padding: 140px 0;
    }

    .employer .companies h1 {
      font-size: 38px;
      font-weight: 500;
      margin: 0 auto 30px auto;
      width: 550px;
    }

    .employer .companies h3 {
      font-size: 18px;
      font-weight: normal;
      margin: 0 auto 50px auto;
      width: 400px;
    }

    .employer .companies .img-lg {
      max-height: 190px;
      max-width: 525px;
    }
  }
  
  @media (min-width: 901px) and (max-width: 1200px) {
    .employer .companies {
      padding: 120px 0;
    }

    .employer .companies .img-lg {
      max-height: 300px;
      max-width: 850px;
    }
  }

  /*****
  HowItWorks
  *****/
  .employer .how-it-works {
    background-color: #fafbfb;
    padding: 110px 0;
  }

  .employer .how-it-works .content {
    width: 560px;
    margin: 0 auto;
  }

  .employer .how-it-works .content h1 {
    font-size: 38px;
    font-weight: 500;
  }

  .employer .how-it-works .content h3 {
    font-size: 18px;
    color: #475f7b;
    font-weight: 400;
    margin: 40px auto 20px auto;
    width: 410px;
  }

  .employer .how-it-works .content h4 {
    color: #03c4c6;
    font-size: 16px;
    font-weight: 500;
  }

  .employer .how-it-works .usp {
    margin: 40px auto 0 auto;
    width: 1050px;
  }

  @media (max-width: 300px) {
    .employer .how-it-works {
      padding: 80px 0;
    }

    .employer .how-it-works .content {
      width: 220px;
    }

    .employer .how-it-works .content h1 {
      font-size: 24px;
    }

    .employer .how-it-works .content h3 {
      font-size: 16px;
      margin: 20px auto 10px auto;
      width: 220px;
    }

    .employer .how-it-works .usp {
      margin: 30px auto 0 auto;
      width: 220px;
    }
  }
  
  @media (min-width: 301px) and (max-width: 600px) {
    .employer .how-it-works {
      padding: 90px 0;
    }

    .employer .how-it-works .content {
      width: 260px;
    }

    .employer .how-it-works .content h1 {
      font-size: 24px;
    }

    .employer .how-it-works .content h3 {
      font-size: 16px;
      margin: 30px auto 15px auto;
      width: 260px;
    }

    .employer .how-it-works .usp {
      margin: 30px auto 0 auto;
      width: 260px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .employer .how-it-works {
      padding: 100px 0;
    }

    .employer .how-it-works .content {
      width: 260px;
    }

    .employer .how-it-works .content h1 {
      font-size: 24px;
    }

    .employer .how-it-works .content h3 {
      font-size: 16px;
      margin: 40px auto 20px auto;
      width: 260px;
    }

    .employer .how-it-works .usp {
      margin: 40px auto 0 auto;
      width: 550px;
    }
  }
  
  @media (min-width: 901px) and (max-width: 1200px) {
    .employer .how-it-works .usp {
      margin: 40px auto 0 auto;
      width: 850px;
    }
  }

  /*****
  ScheduleCall
  *****/
  .employer .schedule-call {
    background-color: #0376e3;
    display: flex;
    padding: 160px 0 0 0;
  }

  .employer .schedule-call .content {
    width: 475px;
    margin-right: 110px;
    text-align: right;
  }

  .employer .schedule-call .content h1 {
    color: white;
    width: 200px;
    font-family: Archivo;
    font-size: 32px;
    font-weight: 500;
    margin-right: 0;
    margin-left: auto;
    text-align: left;
  }

  .employer .schedule-call .content .img-lg {
    max-height: 225px;
    max-width: 460px;
    height: 100%;
    width: 100%;
  }

  .employer .schedule-call .img-md-sm {
    display: none;
  }

  .employer .schedule-call form {
    width: 600px;
  }

  .employer .schedule-call form .form-input {
    background-color: transparent;
    border: solid 1px #e1e5e8;
    border-radius: 4px;
    color: #f2f4f4;
    margin: 0 24px 40px 0;
    padding: 8px 12px 10px 12px;
    height: 36px;
    width: 270px;
  }

  .employer .schedule-call form .form-input::placeholder {
    color: #f2f4f4;
    font-family: Archivo;
    font-size: 14px;
  }

  .employer .schedule-call form .submit-button {
    background-color: white;
    border: none;
    border-radius: 4px;
    color: #304156;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 50px;
  }

  @media (max-width: 300px) {
    .employer .schedule-call {
      display: inline-block;
      padding: 100px 0 0 0;
      width: 100%;
    }

    .employer .schedule-call .content {
      width: 200px;
      margin: 0 auto;
    }

    .employer .schedule-call .content h1 {
      text-align: center;
      margin: 0 auto;
    }

    .employer .schedule-call form {
      width: 200px;
      margin: 0 auto;
    }

    .employer .schedule-call form .group-one, .group-2 {
      margin-top: 40px;
    }

    .employer .schedule-call form .form-input {
      margin: 0 auto;
      margin-bottom: 40px;
      width: 180px;
    }

    .employer .schedule-call .content .img-lg {
      display: none;
    }

    .employer .schedule-call .img-md-sm {
      display: block;
      max-height: 145px;
      max-width: 200px;
      height: 100%;
      width: 100%;
      margin: 40px auto 0 auto;
    }
  }
  
  @media (min-width: 301px) and (max-width: 600px) {
    .employer .schedule-call {
      display: inline-block;
      padding: 120px 0 0 0;
      width: 100%;
    }

    .employer .schedule-call .content {
      width: 250px;
      margin: 0 auto;
    }

    .employer .schedule-call .content h1 {
      text-align: center;
      margin: 0 auto;
    }

    .employer .schedule-call form {
      width: 250px;
      margin: 0 auto;
    }

    .employer .schedule-call form .group-one, .group-2 {
      margin-top: 40px;
    }

    .employer .schedule-call form .form-input {
      margin: 0 auto;
      margin-bottom: 40px;
      width: 220px;
    }

    .employer .schedule-call .content .img-lg {
      display: none;
    }

    .employer .schedule-call .img-md-sm {
      display: block;
      max-height: 180px;
      max-width: 250px;
      height: 100%;
      width: 100%;
      margin: 50px auto 0 auto;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .employer .schedule-call {
      display: inline-block;
      padding: 130px 0 0 0;
      width: 100%;
    }

    .employer .schedule-call .content {
      width: 500px;
      margin: 0 auto;
    }

    .employer .schedule-call .content h1 {
      text-align: center;
      width: 500px;
      margin: 0 auto;
    }

    .employer .schedule-call form {
      width: 500px;
      margin: 0 auto;
    }

    .employer .schedule-call form .group-one, .group-2 {
      margin-top: 40px;
    }

    .employer .schedule-call form .group-one .input-one {
      margin-right: 24px;
    }

    .employer .schedule-call form .group-two .input-one {
      margin-right: 24px;
    }

    .employer .schedule-call form .form-input {
      margin: 0 auto;
      margin-bottom: 40px;
      width: 220px;
    }

    .employer .schedule-call .content .img-lg {
      display: none;
    }

    .employer .schedule-call .img-md-sm {
      display: block;
      max-height: 360px;
      max-width: 500px;
      height: 100%;
      width: 100%;
      margin: 50px auto 0 auto;
    }
  }
  
  @media (min-width: 901px) and (max-width: 1200px) {
    .employer .schedule-call .content {
      width: 400px;
      margin-right: 50px;
      text-align: right;
      overflow: hidden;
    }

    .employer .schedule-call .content .img-lg {
      max-height: 170px;
      max-width: 350px;
      height: 100%;
      width: 100%;
    }

    .employer .schedule-call form .form-input {
      width: 200px;
    }
  }