html {
  scroll-behavior: smooth;
}

body {
  color: #304156;
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.candidate {
  margin: 42px 0 0 0;
}

.employer {
  margin: 42px 0 0 0;
}

.faq {
  margin: 42px 0 0 0;
}

.privacy {
  margin: 42px 0 0 0;
}

.tnc {
  margin: 42px 0 0 0;
}

.thank-you {
  margin: 42px 0 0 0;
}

.jd-hr {
  margin: 43px 0 0 0;
}

a.no-underline {
  color: inherit;
  text-decoration: none;
}